[Desktop Entry]
Name=i3
Comment=improved dynamic tiling window manager
Exec=i3-keyring.sh
TryExec=i3-keyring.sh
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
